body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CB273A;
    /*text-transform: uppercase;*/
}

.main-container {
    width: 100%;
    /*border: 1px solid pink;*/
}

.header-wrapper {
    font-size: 12vw;
    color: #F0C17C;
    /*border: 1px solid black;*/
    display: inline-block;
}

.header-wrapper:hover {
    color: #165C73;
    cursor: default;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CB273A;
    /*text-transform: uppercase;*/
}

.main-container {
    width: 100%;
    /*border: 1px solid pink;*/
}

.header-wrapper {
    font-size: 12vw;
    color: #F0C17C;
    /*border: 1px solid black;*/
    display: inline-block;
}

.header-wrapper:hover {
    color: #165C73;
    cursor: default;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    background:none;
    border:none;
    margin:50px;
    padding:0;
    color: #F0C17C;
    
}
button:hover {
    color: #165C73;
}

button:focus, input:focus {
    outline: none;
}
#smallbtnTask{
    display: none;

}
#lists{display: none;}
#taskForm{display: none;}

.form-wrapper {
    /*border: 3px solid blue;*/
    width: 50vw;
    margin-top: 2%;

}

.form-input-field {
    margin-top: 2%;
}

input, select {
    background-color: #165C73;
    flex: 1;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #F0C17C;
    /*text-transform: uppercase;*/
    height: 3vw;
    padding-left: 0.5vw;

}

select {
    width: 20vw;
}

#list-container {
    /*border: 3px solid blue;*/
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

#Group-container{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.list-div {
    padding: 1em;
    background-color: #165C73;

}

.groupDiv{
    padding: 1em;
    background-color: #165C73;
}
