body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CB273A;
    /*text-transform: uppercase;*/
}

.main-container {
    width: 100%;
    /*border: 1px solid pink;*/
}

.trash-can-wrapper {
    /*border: 3px solid blue;*/
    display: inline-block;

    width: 12vw;
    height: 12vw;
    margin-top: 2%;;
    margin-right: 150px;
}

img {
    max-width: 100%;

    
}

.header-wrapper {
    font-size: 12vw;
    color: #F0C17C;
    /*border: 1px solid black;*/
    display: inline-block;
}

.header-wrapper:hover {
    color: #165C73;
    cursor: default;
}

.big-btn-wrapper {
    /*border: 1px solid blue;*/
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-btn-wrapper {
    /*border: 1px solid blue;*/
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
}

button, label, .form-wrapper, div {
    font-family: 'Montserrat', sans-serif;
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: #F0C17C;
}

.btn-person-to-task {
    font-family: 'Montserrat', sans-serif;
    background:none;
    border:none;
    margin:0;
    padding:0;
    color: #165C73;
}

.assigned-person {
    color: #CB273A;
}

button:hover {
    color: #165C73;
}

button:focus, input:focus {
    outline: none;
}

.btn-big {
    font-size: 4vw;
}

.btn-small {
    font-size: 2vw;
}

.form-wrapper {
    /*border: 3px solid blue;*/
    width: 50vw;
    margin-top: 2%;

}

.form-input-field {
    margin-top: 2%;
}

input, select {
    background-color: #165C73;
    flex: 1;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #F0C17C;
    /*text-transform: uppercase;*/
    height: 3vw;
    padding-left: 0.5vw;

}

select {
    width: 20vw;
}

#list-container {
    /*border: 3px solid blue;*/
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

#Group-container{
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.list-div {
    padding: 1em;
    background-color: #165C73;

}

.groupDiv{
    padding: 1em;
    background-color: #165C73;
}

.list-element {
    background-color: #F0C17C;
    color: #165C73;
    margin-top: 5%;
    
}
